/*
 * Global styles
 */
body, html {
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/quiz-background.jpg") no-repeat;
  background-position:center;
  background-size: cover;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

footer {
  color: #f8f8f8;
  background-color: rgba(0, 154, 73, 0.9);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75em;
  position: fixed;
  padding: 0 25px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 3rem;
}

main {
  display: block;
}

/*
 * Home page styles
 */
.page-title {
  color: #f8f8f8;
  font-family: 'Ribeye', cursive;
  font-size: 72px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1vh 0;
}

.welcome-text {
  background-color: rgba(0, 154, 73, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
  width: 75vw;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;

/*  max-height: 50vh;
  overflow-y: scroll;*/
}

#quiz-player-form .player-name {
  display: block;
  width: 275px;
  height: 50px;
  background: #f9f9f9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px auto;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: 22px;
  letter-spacing: 0.4em;
}

#quiz-player-form input[type = 'submit'] {
  display: block;
  width: 275px;
  height: 50px;
  background: #FF7900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 15px auto;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  letter-spacing: 0.13em;
}

@media only screen and (max-width: 400px) {
  footer {
    display: none;
  }
}
