{% extends "base.html" %}

{% block content %}
<main>
  <form style="background-color:rgba(0,0,0,0.5); padding:10px;" action="{{ url_for('add_question') }}" method="POST">
    <p>
      <label for="question">Question: </label>
      <input type="text" name="question" value="" required>
    </p>
    {% for i in range(4) %}
      <p>
        <input type="radio" name="answer" value="{{ i }}" checked>
        <label for="option_{{ i+1 }}">Option {{ i+1 }}: </label>
        <input type="text" name="option_{{ i+1 }}">
      </p>
    {% endfor %}
    <p><input type="submit" value="Submit"></p>
  </form>
</main>
{% endblock %}
