{% extends "base.html" %}

{% block styles %}
  <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
{% endblock %}

{% block content %}
<header>
    <h1 class="leaderboard-title">Time's up at the bar</h1>
</header>

<main>
  <div class="welcome-text">
    <p>
      Looks like you've had enough (name). You downed over 3 pints.
    </p>
    <p>
      Take a look where you are on the leaderboard on the way out of my pub...
      and don't forget to share the fun!
    </p>
    <div class="social-share">
      <a href="https://instagram.com" target="_blank">
        <i class="fab fa-instagram-square"></i>
      </a>
      <a href="https://twitter.com/?lang=en">
        <i class="fab fa-twitter-square" target="_blank"></i>
      </a>
    </div>
  </div>
  <div>
    <a class="restart-button btn" href="{{ url_for('home') }}">Get another round in!</a>
  </div>
  <div class="leaderboard">
    <table class="leaderboard-table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
      {% for entry in leaderboard %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ entry.player }}</td>
          <td>{{ entry.score }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}
