{% extends "base.html" %}

{% block content %}
<main>
  <form id="quiz-form" class="question-card" action="{{ url_for('quiz') }}"
    method="POST" data-ajax="{{ url_for('AJAX_answer') }}">
    <p class="quiz-question">{{ question.question }}</p>
    {% for option in question.options %}
      <label class="quiz-option">
        <input type="radio" name="answer" value="{{ loop.index - 1 }}">
        <div>
          {{- option -}}
        </div>
      </label>
    {% endfor %}
    <input type="submit" value="Next Question">
  </form>
  <p>{{ session.player }}'s score is: {{ session.player_score }}</p>
</main>
{% endblock %}
